[submodule "program.plexus"]
	path = program.plexus
	url = https://github.com/tvaddonsco/program.plexus.git
[submodule "plugin.video.youtube"]
	path = plugin.video.youtube
	url = https://github.com/jdf76/plugin.video.youtube.git
[submodule "script.module.lambdascrapers"]
	path = script.module.lambdascrapers
	url = https://github.com/I-A-C/script.module.lambdascrapers.git
[submodule "script.module.resolveurl"]
	path = script.module.resolveurl
	url = https://github.com/jsergio123/script.module.resolveurl.git
[submodule "script.module.tulip"]
	path = script.module.tulip
	url = https://github.com/Twilight0/script.module.tulip.git
[submodule "plugin.video.sparkle"]
	path = plugin.video.sparkle
	url = https://github.com/iwannabelikemike/plugin.video.sparkle.git
[submodule "plugin.program.reddit_browser"]
	path = plugin.program.reddit_browser
	url = https://github.com/Johnstonevo/plugin.program.reddit_browser.git
[submodule "plugin.video.watchnixtoons2"]
	path = plugin.video.watchnixtoons2
	url = https://github.com/doko-desuka/plugin.video.watchnixtoons2.git
[submodule "plugin.video.ctoonkodi"]
	path = plugin.video.ctoonkodi
	url = https://github.com/doko-desuka/plugin.video.ctoonkodi.git
[submodule "plugin.video.wonderfulsubs"]
	path = plugin.video.wonderfulsubs
	url = https://github.com/DxCx/plugin.video.wonderfulsubs.git
[submodule "plugin.video.venom"]
	path = plugin.video.venom
	url = https://github.com/123Venom/plugin.video.venom.git
[submodule "script.module.urlresolver"]
	path = script.module.urlresolver
	url = https://github.com/tvaddonsco/script.module.urlresolver.git
[submodule "plugin.googledrive"]
	path = plugin.googledrive
	url = https://github.com/cguZZman/plugin.googledrive.git
[submodule "plugin.video.iplayerwww"]
	path = plugin.video.iplayerwww
	url = https://github.com/vonH/plugin.video.iplayerwww.git
[submodule "plugin.video.seren"]
	path = plugin.video.seren
	url = https://github.com/nixgates/plugin.video.seren.git
[submodule "plugin.video.openmeta"]
	path = plugin.video.openmeta
	url = https://github.com/a4k-openproject/plugin.video.openmeta.git
[submodule "plugin.video.lazyf1"]
	path = plugin.video.lazyf1
	url = https://github.com/vadyur/plugin.video.lazyf1.git
[submodule "plugin.video.emby"]
	path = plugin.video.emby
	url = https://github.com/MediaBrowser/plugin.video.emby.git
[submodule "plugin.video.jellyfin"]
	path = plugin.video.jellyfin
	url = https://github.com/jellyfin/jellyfin-kodi.git
[submodule "script.module.openscrapers"]
	path = script.module.openscrapers
	url = https://github.com/a4k-openproject/script.module.openscrapers.git
