[submodule "tools_and_parsers"]
	path = tools_and_parsers
	url = https://github.com/Johnstonevo/tools_and_parsers.git
[submodule "program.plexus"]
	path = program.plexus
	url = https://github.com/tvaddonsco/program.plexus.git
[submodule "plugin.program.plexusscraper"]
	path = plugin.program.plexusscraper
	url = https://github.com/ripley57/plugin.program.plexusscraper.git
[submodule "plugin.video.youtube"]
	path = plugin.video.youtube
	url = https://github.com/jdf76/plugin.video.youtube.git
[submodule "kodiswift"]
	path = kodiswift
	url = https://github.com/afrase/kodiswift.git
[submodule "script.module.lambdascrapers"]
	path = script.module.lambdascrapers
	url = https://github.com/I-A-C/script.module.lambdascrapers.git
[submodule "script.module.resolveurl"]
	path = script.module.resolveurl
	url = https://github.com/jsergio123/script.module.resolveurl.git
[submodule "repository.ddurdle"]
	path = repository.ddurdle
	url = https://github.com/ddurdle/repository.ddurdle.git
[submodule "script.module.tulip"]
	path = script.module.tulip
	url = https://github.com/Twilight0/script.module.tulip.git
[submodule "plugin.video.sparkle"]
	path = plugin.video.sparkle
	url = https://github.com/iwannabelikemike/plugin.video.sparkle.git
[submodule "modules4all"]
	path = modules4all
	url = https://github.com/kmnb/modules4all.git
[submodule "plugin.program.reddit_browser"]
	path = plugin.program.reddit_browser
	url = https://github.com/Johnstonevo/plugin.program.reddit_browser.git
[submodule "plugin.video.watchnixtoons2"]
	path = plugin.video.watchnixtoons2
	url = https://github.com/doko-desuka/plugin.video.watchnixtoons2.git
[submodule "plugin.video.ctoonkodi"]
	path = plugin.video.ctoonkodi
	url = https://github.com/doko-desuka/plugin.video.ctoonkodi.git
